#header {
                    background-color: papayawhip;
                    padding: 5px;
                }

                body {
                    font-family: Arial, sans-serif;
                    /*font-size: 100%;*/
                }

                #nav {
                    background-color: floralwhite;
                    /* font-size: 100%; */
                    padding: 5px;
                }

                #notice { background-color: floralwhite;
                            /* font-size: 90%; */
                }

                /* #nav a {
                    text-decoration: none;
                } */

                /* #nav a:hover {
                    color: #666;
                } */