#header {
            background-color: papayawhip;
            padding: 5px;
        }

body {
        font-family: Arial, sans-serif;
     }

#nav { 
        background-color: floralwhite;
        padding: 5px;
     }

#notice { background-color: floralwhite;
        }

/* #nav a {
             text-decoration: none;
          } */
/* #nav a:hover {
                   color: #666;
                } */
