{% extends "base.html" %}
{% block content %}
<h1>About me</h1>
<p>I am a researcher in computer vision & machine 
learning with Ph.D in Computer Science, M.Sc and B.Sc(Hons.)
in Electrical & Electronic Engineering. I am also 
interested in web app development using Python, JavaScript & PHP, & information 
security.</p>
<br>
<div id="notice">
<p>This site uses cookies to provide better web surfing experience for 
visitors. If you continue to use this site, it will be assumed that you agree to 
the use of cookies. The site author can be contacted by email at 
mwong(at)mwongsite.com, replace (at) by @</p>
</div>
{% endblock %}