{% extends "base.html" %}
{% block content %}
<h1>Home: about me</h1>
<ul>
    <li>Researcher in computer vision and machine learning</li>
    <li>Ph.D in Computer Science, M.Sc in Electronic Engineering, B.Sc(Hons.) in 
		Electrical & Electronic Engineering</li>
    <li>Web app development experience using web frameworks: Flask, Django, ReactJS, 
		VueJS, Codeigniter and Symfony</li>
    <li>Experience in Python, Java, C++, JavaScript, PHP, Kotlin</li>
</ul>
<br>
<div id="notice">
<p>This site uses cookies in order to provide better web surfing experience for visitors. If you continue to use
this site, it will be assumed that you agree to the use of cookies.
</p>
</div>

{% endblock %}