{% extends "base.html" %}
{% block content %}
<h1>About me</h1>
<p>Welcome to my personal site. I am a researcher in computer vision and machine 
learning with Ph.D in Computer Science, M.Sc in Electronic Engineering and B.Sc(Hons.)
in Electrical & Electronic Engineering. Besides my research interests, I am also 
interested in web app development and information security.</p>

<br>
<div id="notice">
<p>This site uses cookies in order to provide better web surfing experience for 
visitors. If you continue to use this site, it will be assumed that you agree to 
the use of cookies. The site author can be contacted by email at 
mwong(at)mwongsite.com, replace (at) by @.</p>
</div>
{% endblock %}