{% extends "base.html" %}
{% block content %}

<h1>Privacy Policy</h1>

<h2>Who we are</h2>

<p>This is the personal site of M. Wong. The owner of this site can be contacted via email mwong(at)mwongsite.com,
replace (at) by @.</p>

<h2>Cookies</h2>
<p>This website might use cookies in order to improve your experience of using the site. If you continue to use this site,
it will be assumed that you agree to the use of cookies.</p>

<h2>Data collected when visitors contact site author by email</h2>
<p>If you contact the site author by email, your name, email address and other information you provide to the site
author will be stored in email account of the site author. </p>

<p>The above privacy policy can be changed at any time by the site author without giving notice.</p>

{% endblock %}
